.navbar {
  background-color: #cefffa !important;
}

body {
  font-family: 'Nunito', sans-serif;
}

.jumbotron {
  background-color: #39c9bb;
  color: #ffffff;
  background-image: url('../images/cakebridge-bg.png');
  margin-bottom: 0px;
}

.jumbo-spacer {
  min-height: 20px;
}

#company-name {
  font-weight: bold;
}

#mc_embed_signup {
  clear: left;
  width: 100%;
}

#mc_embed_signup label {
  font-weight: normal !important;
}

#mce-EMAIL {
  border-radius: 0px !important;
  border: 0px !important;
  padding-right: 0px !important;
}

#mc-embedded-subscribe {
  background-color: #1b9b8f !important;
  border: 0px !important;
  border-radius: 0px !important;
  margin-left: -4px !important;
}

#about-section {
  background-color: #1b9b8f;
  padding: 30px 0px 30px 0px;
  color: #ffffff;
}

#about-section-firstpart {
  padding-bottom: 30px;
}

/* Make the images in the about section disappear when the screen is small */
/* Make the margin on the email sign up back to 0 so they stack */
@media (max-width: 768px) {
  .about-images {
    display: none;
  }
   #about-section-firstpart-headline {
    text-align: left !important;
  }
  #mc-embedded-subscribe {
    margin-left: 0px !important;
  }
}

#images-section {
    height:100px;
    background-color: #b3b3b3;
}

#code-image {
  max-height: 100px;
}

#team-section {
    background-color: #ffffff;
    padding: 30px 0px 30px 0px;
}

#team-section-row {
  min-height: 300px;
}

.team-photos {
  width: 50%;
  padding: 0px 10px 10px 0px;
}

.team-name-plate {
  background-color: #cccccc;
  width: 30%;
  height: 100px;
}

#team-rhonda-text {
  background-color: #cccccc;
  min-height: 100px;
  padding: 10px;
  font-size: 14px;
}

#contact-section {
    background-color: #ff5555;
    font-weight: bold;
    color: white;

}


.social-media-icon {
  height: 36px;
}

.little-spacer {
  background-color: #7d7d7d;
  font-size: 12px;
  min-height: 18px;
  margin-left: -15px;
    margin-right: -15px;

}

.footer-section {
  background-color: #7d7d7d;
  font-size: 12px;
}
