#contact {
    background-color: gray;
}

#email-input-section {
    margin-left: auto;
    margin-right: auto;
}

#email-input-box {
    width: 50%;
}

body {
  font-family: 'Nunito', sans-serif;
}



.jumbotron {
  background-color: #ff5555;
  color: #ffffff;
  /* background-image: url('../images/g2484.png'); */
}

#company-name {
  font-weight: bold;

}
